<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daily Image</title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Daily Momoa Image!</h1>
<p>
  <img src="<%= @image.url %>" alt="<%= @image.title %>">
</p>
<p>Thanks and have a great day!</p>
</body>
</html>